#questionBox {
  margin: auto;
  width: 1000px;
  text-align: center;
  font-size: 48px;
}

#answerBox {
  margin: auto;
  width: 500px;
  display: block;
}

#answerButton {
  margin: auto;
  width: 100px;
  display: block;
  background-color: green;
  color: white;
}
