ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.kanjiDisplay {
  font-size: 36px;
  float: left;
  margin: 15px;
  padding: 5px;
}

.kanjiDisplay:hover {
  font-size: 48px;
  color: green;
  cursor: pointer;
}

.selectedKanji {
  font-size: 36px;
}

#customListContainer {
  float: right;
  background-color: lightsteelblue;
  width: 400px;
  height: 600px; 
  border: 1px solid black;
}
